#slider {

  .wg-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center; 
  }
  
  .hero-title {
    color: black;
    font-weight: 550;
    letter-spacing: 7px;
  }
  
  .hero-title-1 {
    letter-spacing: 7px;
    color: black;
    font-weight: 550;
    text-align: left;
  }
  
  .hero-title-2 {
    letter-spacing: 7px;
    color: black;
    font-weight: 550;
    text-align: right;
  }
  
  .hero-title-3 {
    letter-spacing: 7px;
    color: black;
    font-weight: 550;
    text-align: center;
  }
  
  .hero-title-4 {
    letter-spacing: 7px;
    color: white;
    font-weight: 550;
    text-align: center;
  }
}

